<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>
  <connectionStrings>
    <add name="Fei580ConnectionString1" connectionString="Data Source=E2D6BD118D8040E;Initial Catalog=Fei580;Persist Security Info=True;User ID=tbshopsdatauser;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>
    <add name="dsn011290_dbConnectionString1" connectionString="Data Source=dsn-01.hichina.com;Initial Catalog=dsn011290_db;Persist Security Info=True;User ID=dsn011290;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>
    <add name="Fei580ConnectionString2" connectionString="Data Source=E2D6BD118D8040E;Initial Catalog=Fei580;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>
    <add name="Fei580_dataConnectionString1" connectionString="Data Source=GOODVPS-ACFB048;Initial Catalog=Fei580_data;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=False;Packet Size=4096;Application Name=&quot;Microsoft SQL Server Management Studio&quot;" providerName="System.Data.SqlClient"/>
    <!--航班API接口KEY-->
    <add name="flight_key" connectionString="eade9048bb984549b284c1a422335c20"/>
    <!--航班API接口公司代码-->
    <add name="flight_company_code" connectionString="GX1126"/>
    <!--航班API接口地址-->
    <add name="flight_api_url" connectionString="http://api.trip258.com/jrinterticket.ashx"/>
    <!--航班查询API接口方法-->
    <add name="flight_api_action" connectionString="getticketlist"/>
  </connectionStrings>
  <appSettings>
    <!-- 连接字符串是否加密  小写true表示是，其它字符(包括空字符)表示否-->
    <add key="ConStringEncrypt" value="false"/>
    <add key="DataConnect" value="server=.;database=Fei580_data;uid=sa;pwd=Libde2005"/>
    <add key="DatabaseConnect_select_1" value="server=.;uid =sa;password=Libde2005;database=Fei580_data;"/>
    <add key="DatabaseConnect_select_2" value="server=.;uid =sa;password=Libde2005;database=Fei580_data;"/>
    <add key="DatabaseConnect_insert" value="server=.;uid =sa;password=Libde2005;database=Fei580_data;"/>
    <add key="DatabaseConnect_Manage" value="server=.;uid =sa;password=Fei580_czl;database=Fei580_Manage;"/>
    <!-- 连接字符串 add by:万正杰  124.172.238.21  124.173.64.144 
    <add key="DataConnect" value="server=127.0.0.1;database=Fei580_data;uid=Fei580_dataUser;pwd=fei580WWW_123456"/>
    <add key="DatabaseConnect_select_1" value="server=127.0.0.1;uid =Fei580_dataUser;password=fei580WWW_123456;database=Fei580_data;"/>
    <add key="DatabaseConnect_select_2" value="server=127.0.0.1;uid =Fei580_dataUser;password=fei580WWW_123456;database=Fei580_data;"/>
    <add key="DatabaseConnect_insert" value="server=127.0.0.1;uid =Fei580_dataUser;password=fei580WWW_123456;database=Fei580_data;"/>
    <add key="DatabaseConnect_Manage" value="server=127.0.0.1;uid =Fei580_manage;password=Fei580_czl;database=Fei580_Manage;"/>
    -->
    <!-- WebsiteTitle:网站tit WebsiteMail:[联系我们]对应的邮箱  -->
    <add key="WebsiteTitle" value="天维网络科技"/>
    <add key="WebsiteMail" value="admin@zlt.com"/>
    <!--网站自动发送邮件参数 add by:陈子留-->
    <add key="MailDomain" value="smtp.163.com"/>
    <add key="MailDomainPort" value="25"/>
    <add key="FromName" value="天维网络科技有限公司"/>
    <add key="From" value="ie421@163.com"/>
    <add key="MailServerUserName" value="ie421"/>
    <add key="MailServerPassWord" value="9A9DE3C7B58192CF"/>
    <!--FCKeditor网上编辑器上传图片的路径 add by:陈子留-->
    <add key="FCKeditor:BasePath" value="~/fckeditor/"/>
    <add key="FCKeditor:UserFilesPath" value="/upload_web/"/>
    <!--以字节为计算单位-->
    <!--上传图片的大小限制设置-->
    <add key="newsPicSize" value="524288"/>
    <add key="DNTAPIKey" value="a53f0117943d78e8e53cfb03f86022a0"/>
    <!--DNT密钥-->
    <add key="DNTSecert" value="759582d529b6dc2ae6d4922157fc671e"/>
    <add key="amcharts_net_key" value="AMCHART-LNKS-1237-7408-1835-1013"/>
    <add key="KABE.service" value="http://services.travel-data.cn/systemquery/service.asmx"/>
  </appSettings>
  <system.web>
    <customErrors mode="Off" defaultRedirect="errorPage.aspx">
      <error statusCode="403" redirect="errorPage.aspx"/>
      <error statusCode="404" redirect="errorPage.aspx"/>
    </customErrors>
    <!-- 
            设置 compilation debug="true" 将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <compilation debug="true">
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.Common, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 
        -->
    <authentication mode="Windows"/>
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        
        -->
    <pages enableEventValidation="False" viewStateEncryptionMode="Never"/>
    <!--add by 陈子留session过期时间-->
    <sessionState mode="InProc" cookieless="false" timeout="40" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="14400"/>
    <machineKey validationKey="78AE3850338BFADCE59D8DDF58C9E4518E7510149C46142D7AAD7F1AD49D95D4" decryptionKey="5FC88DFC24EA123C" validation="SHA1"/>
    <httpModules>
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" name="UrlRewriter"/>
    </httpModules>
    <httpHandlers>
      <!--ajax功能 add by 陈子留-->
      <add verb="*" path="*.ashx" type="AjaxPro.AjaxHandlerFactory,AjaxPro.2"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <!--<globalization fileEncoding="gb2312" requestEncoding="utf-8" responseEncoding="gb2312" culture="zh-CN"/>-->
  </system.web>
  <rewriter>
    <!--<rewrite url="~/ticket_([0-9,a-z]+)_([0-9]+)_([0-9]+).htm" to="~/showTicket.aspx?tId=$1&amp;startTime=$2&amp;arriveTime=$3" />
    <rewrite url="~/ticket_(.+).htm" to="~/showTicket.aspx?tId=$1" />-->
    <rewrite url="~/ticket_([0-9,a-z]+)_([0-9,a-z]+)_([0-9,a-z]+)_([0-9,a-z]+)_([0-9,a-z]+)_([0-9]+).htm" to="~/showTicket.aspx?tId=$1&amp;tripType=$2&amp;fromcityCode=$3&amp;tocityCode=$4&amp;tripDate=$5&amp;backDate=$6"/>
    <rewrite url="~/ticket_(.+).htm" to="~/showTicket.aspx?tId=$1"/>
    <rewrite url="~/([0-9,a-z]+)_([0-9]+)/([0-9,a-z]+)_([0-9,a-z]+)_([0-9]+)_([0-9]+).htm" to="~/showTicket2.aspx?dataGuid=$1&amp;tripType=$2&amp;fromcityCode=$3&amp;tocityCode=$4&amp;tripDate=$5&amp;backDate=$6"/>
    <rewrite url="~/([0-9,a-z]+)_([0-9]+)_([0-9,a-z]+)_([0-9,a-z]+)_([0-9]+)_([0-9]+).htm" to="~/showTicket2.aspx?dataGuid=$1&amp;tripType=$2&amp;fromcityCode=$3&amp;tocityCode=$4&amp;tripDate=$5&amp;backDate=$6"/>
    <rewrite url="~/([0-9,a-z]+)_([0-9,a-z]+)_([0-9]+)_([0-9]+).htm" to="~/showTicket2.aspx?fromcityCode=$1&amp;tocityCode=$2&amp;tripDate=$3"/>
    <rewrite url="~/news_(.+).htm" to="~/newsDetail.aspx?id=$1"/>
    <rewrite url="~/hotellist_(.+).htm" to="~/HotelList.aspx?cityName=$1"/>
    <rewrite url="~/hotelinfo_(.+).htm" to="~/HotelDetail.aspx?hid=$1"/>
  </rewriter>
  <system.webServer>
    <rewrite>
      <rules>
        <clear/>
        <rule name="showTicket_r" stopProcessing="true">
          <match url="showTicket.aspx\?tId=([0-9]+)"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Redirect" url="ticket_{R:1}.htm" redirectType="Permanent"/>
        </rule>
        <rule name="ticket">
          <match url="ticket_(.+).htm"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="showTicket.aspx?tId={R:1}" appendQueryString="true"/>
        </rule>
        <rule name="showTicket" enabled="true">
          <match url="ticket_([0-9,a-z]+)_([0-9,a-z]+)_([0-9,a-z]+)_([0-9,a-z]+)_([0-9,a-z]+)_([0-9]+).htm"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_URI}" pattern="/"/>
          </conditions>
          <action type="Rewrite" url="showTicket.aspx?tId=$1&amp;amp;tripType=$2&amp;amp;fromcityCode=$3&amp;amp;tocityCode=$4&amp;amp;tripDate=$5&amp;amp;backDate=$6"/>
        </rule>
        <rule name="news">
          <match url="news_(.+).htm"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="newsDetail.aspx?id={R:1}"/>
        </rule>
        <rule name="hotellist">
          <match url="hotellist_(.+).htm"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="HotelList.aspx?cityName={R:1}"/>
        </rule>
        <rule name="hotelinfo">
          <match url="hotelinfo_(.+).htm"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="HotelDetail.aspx?hid={R:1}"/>
        </rule>
        <rule name="airlineDetail" stopProcessing="true">
          <match url="airline/(.+).htm"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="airlineDetail.aspx?aId={R:1}" appendQueryString="true"/>
        </rule>
        <rule name="airportDetail">
          <match url="airport/(.+).htm"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="airportDetail.aspx?apId={R:1}" appendQueryString="true"/>
        </rule>
        <rule name="airplaneDetail" stopProcessing="true">
          <match url="airplane/(.+).htm"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="airplaneDetail.aspx?pId={R:1}" appendQueryString="true"/>
        </rule>
        <rule name="prizesDetail" stopProcessing="true">
          <match url="prizes/(.+).htm"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="prizesDetail.aspx?pId={R:1}" appendQueryString="true"/>
        </rule>
        <rule name="quanDetail" stopProcessing="true">
          <match url="trip/(.+).htm"/>
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false"/>
          <action type="Rewrite" url="quanDetail.aspx?aid={R:1}" appendQueryString="true"/>
        </rule>
      </rules>
      <rewriteMaps>
        <rewriteMap name="airlineDetail.aspx?aId={R:1}"/>
        <rewriteMap name="airplaneDetail.aspx?pId={R:1}"/>
        <rewriteMap name="prizesDetail.aspx?pId={R:1}"/>
        <rewriteMap name="quanDetail.aspx?aid={R:1}"/>
      </rewriteMaps>
    </rewrite>
    <httpErrors errorMode="DetailedLocalOnly">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/404/404.html" responseMode="ExecuteURL"/>
    </httpErrors>
    <security>
      <requestFiltering>
        <denyUrlSequences>
          <add sequence="l4lmw.cn"/>
          <add sequence="yfesce.cn"/>
          <add sequence="g4wq7id.cn"/>
        </denyUrlSequences>
      </requestFiltering>
    </security>
    <httpRedirect httpResponseStatus="Permanent"/>
  </system.webServer>
</configuration>